<div class="panel panel-default">
  <div class="panel-heading">
    <%= @site_package_flow.site_package.package.title %>---<%= @flow.title %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= render 'form' %>
      </div>
      <div class="col-md-6">
        <%= raw @flow.tutorial %>
      </div>
    </div>
  </div>
</div>
