<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        附件地址
      </div>
      <div class="panel-body">
        <%= @resource.asset %>
      </div>
    </div>

  </div>
</div>
