<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        切换项目
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @sites.each do |site| %>
            <li class="list-group-item"><%= link_to site.title, site_path(site) %> <i class="fa fa-send"></i>  </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer">
        <%= link_to new_site_path do %>
          <i class="fa fa-plus"></i> 添加项目
        <% end %>
      </div>
    </div>

  </div>
</div>