<p>
  <strong>当前站点:</strong>
  <%= @site.title %>
</p>

<%= link_to '修改', edit_site_path(@site), class: 'btn btn-primary btn-lg' %> |
<%= link_to '安装应用包', packages_path(site_id: @site), class: 'btn btn-primary btn-lg' %>
