
<!-- ______________ Footer Column :: jQuery to make equal heights from 901px - 1199px ______________ -->

<footer class="footer footer-col clearfix">
 <div class="footer-content-1">
  <div class="inner-content">
   <h5>Contact Us</h5>
   
   <p class="no-margin-bottom">
   Responsive Heads Up<br>
   1255 Nowhere Street<br>
   Tampa, FL 33655<br>
   <strong>phone:</strong> <a class="text-underline" href="">813.555.1234</a><br>
   <strong>fax:</strong> 813.555.1235<br>
   <span class="overflow"><strong>email:</strong> <a  class="text-underline" href="mailto:email@domain.com">email@companydomain.com</a></span>
   </p>
   
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-1 -->
 
 <hr class="divider">
 
 <div class="footer-content-2">
  <div class="inner-content">
   <h5>Stay Updated</h5>
   <p>Sign up for our newsletter. We won't share your email address.</p>
   <form action="yourscript.php" method="post">
    <div class="input-group input-group-sm footer-signup">
     <input class="form-control" placeholder="Your@EmailAddress.com" type="email">
     <span class="input-group-btn">
     <button type="submit" class="btn btn-primary">Sign Up</button>
     </span> 
     <!--/.input-group-->
    </div>
   </form>
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-2 -->
 
 <hr class="divider">
 
 <div class="footer-content-3">
  <div class="inner-content">
   <h5>Recent Images</h5>
    <div class="img-widget clearfix">
  
    </div>
    <!--/.img-widget-->   
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-3 -->
 
 <hr class="divider">
 <div class="footer-content-4">
  <div class="inner-content">
   <h5>Latest Articles</h5>
   <ul class="article-list"> 
    <li><a href="your-link-goes-here.html">We will amplify our power to benchmark</a></li>
    <li><a href="your-link-goes-here.html">We have revolutionized the conceptualization of structuring</a></li>
    <li><a href="your-link-goes-here.html">Everything is relative; relatively speaking.</a></li>
    <li><a href="your-link-goes-here.html">My other body is an immortal robot body.</a></li>
    <li><a href="your-link-goes-here.html">I don't know who they are but they're right behind you</a></li>
    <li><a href="your-link-goes-here.html">For those about to rock, we salute you </a> </li>
   </ul>
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-4 -->
 
 <hr class="divider">
 <div class="inner-content copyright">
  <p class="small">© Copyright 2014 Christina Arasmo Beymer. 
   All rights reserved. Please purchase this wrapper so you can use it in your project. 
   Email <a href="mailto:christinabeymer@gmail.com" class="text-underline">the designer.</a> </p>
 </div>
 <!--/.inner-content--> 
 
</footer>
<!--/footer-col --> 

<!-- ______________ END FOOTER ______________ --> 

<!-- _________ FAUX COLUMNS ________ -->

<div class="faux-col faux-nav-col">
</div>
<div class="faux-col faux-logo-col">
</div>
<div class="faux-col faux-content-col">
</div>
<div class="faux-col faux-footer-col">
</div>

<!--to top --> 
<a id="go-to-top" title="up"> <i class="fa fa-arrow-circle-o-up"></i> </a> 
