
<!-- ______________ Footer Column :: jQuery to make equal heights from 901px - 1199px ______________ -->

<footer class="footer footer-col clearfix">
 <div class="footer-content-1">
  <div class="inner-content">
   <h5>联系我们</h5>
   
   <p class="no-margin-bottom">
   <strong>地址：</strong>成都市二环路东龙湖三千星座A座2801号<br>
   <strong>电话:</strong> <a class="text-underline" href="tel:18080810818">180-8081-0818</a><br>
   <strong>座机:</strong> 028-85218320<br>
   <span class="overflow"><strong>邮箱:</strong> <a  class="text-underline" href="mailto:we@wedxt.com">we@wedxt.com</a></span>
   </p>
   
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-1 -->
 
 <hr class="divider">
 
 <div class="footer-content-2">
  <div class="inner-content">
   <h5>联系我们</h5>
   <p>开启直达通网站业务流程管理系统，节省不必要的流程处理时间，集结集体智慧，一起分享创造！</p>
   <form action="/comments/new" method="post">
    <div class="input-group input-group-sm footer-signup">
     <input class="form-control" placeholder="输入您的手机号码" type="phone">
     <span class="input-group-btn">
     <button type="submit" class="btn btn-primary">提 交</button>
     </span> 
     <!--/.input-group-->
    </div>
   </form>
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-2 -->
 
 <hr class="divider">
 
 <div class="footer-content-3">
  <div class="inner-content">
   <h5>直达通.便捷的网站业务流程管理系统</h5>
    <div class="img-widget clearfix">
  
    </div>
    <!--/.img-widget-->   
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-3 -->
 
 <hr class="divider">
 <div class="footer-content-4">
  <div class="inner-content">
   <h5>最新教程分享</h5>
   <ul class="article-list"> 
    <li><a href="your-link-goes-here.html">We will amplify our power to benchmark</a></li>
    <li><a href="your-link-goes-here.html">We have revolutionized the conceptualization of structuring</a></li>
    <li><a href="your-link-goes-here.html">Everything is relative; relatively speaking.</a></li>
    <li><a href="your-link-goes-here.html">My other body is an immortal robot body.</a></li>
    <li><a href="your-link-goes-here.html">I don't know who they are but they're right behind you</a></li>
    <li><a href="your-link-goes-here.html">For those about to rock, we salute you </a> </li>
   </ul>
  </div>
  <!--/.inner-content-->
 </div>
 <!--/.footer-col-4 -->
 
 <hr class="divider">
 <div class="inner-content copyright">
  <p class="small">&copy; 2014 直达通版权所有. 
   如遇到任何问题，请随时联系我们的技术人员. 
   Email: <a href="mailto:master@inruby.com" class="text-underline">master@inruby.com</a> </p>
 </div>
 <!--/.inner-content--> 
 
</footer>
<!--/footer-col --> 

<!-- ______________ END FOOTER ______________ --> 

<!-- _________ FAUX COLUMNS ________ -->

<div class="faux-col faux-nav-col">
</div>
<div class="faux-col faux-logo-col">
</div>
<div class="faux-col faux-content-col">
</div>
<div class="faux-col faux-footer-col">
</div>

<!--to top --> 
<a id="go-to-top" title="up"> <i class="fa fa-arrow-circle-o-up"></i> </a> 
