<div class="logo-col">
 <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a> 
 
 <!-- ____________ LOGO _______________  -->
 <div class="logo-wrapper">
  <a href="/" class="clearfix"> <img id="logo" src="/assets/logo.png" alt="company name"> </a>
 </div>
 <!-- /logo-wrapper -->

  <!-- ____________ SEARCH WRAPPER _______________  -->
 <div class="search-wrapper">
  <a href="#" class="toggle-search tooltip-hover" title="搜索" data-placement="left"><i class="fa fa-search"></i></a> 
  
  <!--  SEARCH PANEL -->
  <div class="search-panel">
   <form role="form">
    <input type="search" placeholder="在这里输入相应关键词" class="form-control">
   </form>
  </div> 
 </div>
 <!-- /search-wrapper -->


  <!-- ____________ SOCIAL WRAPPER _______________  -->
 <div class="social-wrapper">
  <ul>
   <% if user_signed_in? %>
     <li>
       <%= link_to '', packages_path,  class: 'fa fa-fighter-jet tooltip-hover', 'data-placement' => 'left', title: '安装业务包' %>
     </li>
     <li>
       <%= link_to '', notices_path,  class: 'fa fa-bell tooltip-hover', 'data-placement' => 'left', title: '操作日志' %>
     </li>
     <li>
       <%= link_to '', edit_user_registration_path,  class: 'fa fa-edit tooltip-hover', 'data-placement' => 'left', title: '修改密码' %>
     </li>
   <% end %>
   
   <li>
     <%= link_to '', '#',  class: 'fa fa-comment tooltip-hover', 'data-placement' => 'left', title: '联系我们' %>
   </li>

   <li><a href="#" class="fa fa-twitter tooltip-hover" data-placement="left" title="Follow Us on Twitter"></a></li>
   <li><a href="#" class="fa fa-github tooltip-hover" data-placement="left" title="Visit our GitHub Page"></a></li>
   <li><a href="#" class="fa fa-linkedin tooltip-hover" data-placement="left" title="Follow Us on LinkedIn"></a></li>
   <li><a href="#" class="fa fa-instagram tooltip-hover" data-placement="left" title="Follow Us on Instagram"></a></li>
   <li><a href="#" class="fa fa-rss tooltip-hover" data-placement="left" title="Subscribe to Our RSS Feed"></a></li>
  </ul>
  <!-- .social -->
 </div>
</div>