<div class="logo-col">
 <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a> 
 
 <!-- ____________ LOGO _______________  -->
 <div class="logo-wrapper">
  <a href="#" class="clearfix"> <img id="logo" src="/assets/logo.png" alt="company name"> </a>
 </div>
 <!-- /logo-wrapper -->

  <!-- ____________ SEARCH WRAPPER _______________  -->
 <div class="search-wrapper">
  <a href="#" class="toggle-search tooltip-hover" title="search" data-placement="left"><i class="fa fa-search"></i></a> 
  
  <!--  SEARCH PANEL -->
  <div class="search-panel">
   <form role="form">
    <input type="search" placeholder="Enter search term and press enter" class="form-control">
   </form>
  </div> 
 </div>
 <!-- /search-wrapper -->


  <!-- ____________ SOCIAL WRAPPER _______________  -->
 <div class="social-wrapper">
  <ul>
   <li><a href="#" class="fa fa-facebook tooltip-hover" data-placement="left" title="Follow Us on Facebook"></a></li>
   <li><a href="#" class="fa fa-google-plus tooltip-hover" data-placement="left" title="Follow Us on Google Plus"></a></li>
   <li><a href="#" class="fa fa-twitter tooltip-hover" data-placement="left" title="Follow Us on Twitter"></a></li>
   <li><a href="#" class="fa fa-github tooltip-hover" data-placement="left" title="Visit our GitHub Page"></a></li>
   <li><a href="#" class="fa fa-linkedin tooltip-hover" data-placement="left" title="Follow Us on LinkedIn"></a></li>
   <li><a href="#" class="fa fa-instagram tooltip-hover" data-placement="left" title="Follow Us on Instagram"></a></li>
   <li><a href="#" class="fa fa-rss tooltip-hover" data-placement="left" title="Subscribe to Our RSS Feed"></a></li>
  </ul>
  <!-- .social -->
 </div>
</div>